.cardResult{
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #D5C3A5;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  .cardResultHeader{
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  /* Card Result Title deve ficar em cima da Card Result Description */
  .cardResultTitle{
    color: #584a4a;
    font-size: 20px;
    justify-content: center;
  }
  
  .cardResultDescription{
    color: #584a4a;
    font-size: 14px;
  }
  
  .cardResultBody{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    color: #584a4a;
    /* Container dos dados do card */
    padding: 10px;
  }
  
  .cardResultContent{
    display: flex;
    flex-direction: column;
  }

  .cardResultContent ul{
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .cardResultContent li{
    margin-bottom: 5px;
  }
  
  .cardResultFooter{
    display: flex;
    justify-content: flex-end;
  }
  
  .cardResultButton{
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: #FFB400;
    color: #FFFFFF;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  
  .cardResultButton:hover{
    background-color: #e7a406;
    color: #FFFFFF;
  }
  
  .cardResultButton svg{
    font-size: 1.2rem;
  }

  .clickedButton {
    animation: shake 0.5s;
  }
  
  @keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(5px); }
    50% { transform: translateX(-5px); }
    75% { transform: translateX(5px); }
    100% { transform: translateX(0); }
  }
  
  