.form-control{
    background-color: #E5D6C5;
    color: #6C5B5B;
    border: none;
    padding: 10px;
    border-radius: 5px;
    padding: 10px;
  }
  
  .result {
    background-color: #D5C3A5;
    color: #6C5B5B;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
  }

  .formGroup{
    margin-bottom: 20px;
  }
  
  .textArea{
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: #E5D6C5;
    color: #6C5B5B;
    width: 100%;
    height: 100px;
    resize: none;
  }
  
  .button{
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: #FFB400;
    color: #FFFFFF;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .button:hover{
    background-color: #e7a406;
    color: #FFFFFF;
  }

/*
  O loading deve mostrar diversos emojis de comida aleatoriamente
*/

.loading{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.loadingBar{
  width: 100%;
  height: 10px;
  background-color: #E5D6C5;
  border-radius: 5px;
  margin-top: 20px;
  content: '🥝🥑🥔🥕🥒🥜'
}