.navbar {
  background-color: #D5C3A5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 1rem;
  margin-bottom: 12px;
  border-radius: 5px;
}

.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbarList {
  display: flex;
  list-style: none;
  padding: 0;
}

.navbarItem {
  padding: 0 1rem;
}

.navbarLink {
  color: #19AB14;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}

.navbarLink:hover,
.navbarLinkActive {
  border-bottom-color: #19AB14;
  color: #19AB14;
}

.navbarLinkBadge {
  background-color: #19AB14;
  color: #fff;
  padding: 0.1rem 0.3rem;
  border-radius: 5px;
}
