.navbar {
  background-color: #D5C3A5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 1rem 0.3rem 1rem;
  margin-bottom: 12px;
  border-radius: 5px;
}

.navbarContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbarList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
}

.navbarItem {
  padding: 0 1rem;
}

.navbarLink {
  color: #19AB14;
  text-decoration: none;
}

.navbarLink:hover {
    border-bottom: 2px solid #19AB14;
}

.navbarLinkActive {
    border-bottom: 2px solid #19AB14;
    color: #19AB14;
}